<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK19yW_0p65b3iHLTJjVXoMijDIppFb2g</string>
	<key>GCM_SENDER_ID</key>
	<string>869773875522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentarou1994.FoodsFinder</string>
	<key>PROJECT_ID</key>
	<string>foodsfinder-3211d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsfinder-3211d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869773875522:ios:2a2057c02e36f4ca8810db</string>
</dict>
</plist>